body {
	background-color:rgb(220,236,249);
	background-image:url(../img/404.jpg);
	background-repeat:no-repeat;
	background-size:35em;
	background-attachment:fixed;
	background-position:center 30%;
}
.middle {
	font-size:2em;
	font-family:"STXiHei";
	font-weight:700;
	color:rgb(79,90,120);

	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 50%;
	margin: 4em 0 0 -25%;
	text-align:center;
}
.login-btn {
	font-size:0.65em;
	margin-top:1.5em;
	padding:0.2em 3em;
	border-radius:0.2em;
	border:rgb(79,90,120) 0.08em solid;
	background-color:transparent;
}
.login-btn:hover {
	background-color:rgb(79,90,120);
	color:white;
	-webkit-transition: background-color 0.5s, color 0.5s;
	-moz-transition: background-color 0.5s, color 0.5s;
}