:root {
	--Lblue:rgb(22,152,245);
	--Lred:rgb(242,99,75);
	--Ldred:rgb(212,89,65);
	--Llgreen:rgb(146,206,70);
	--Lyellow:rgb(251,175,24);
	--Ldyellow:rgb(231,165,20);
	
	--Ldblue:rgb(10,133,224);
	--Lbg:rgb(245,246,247);
	--Llgrey:rgb(240,242,244);
	--Lgrey:rgb(228,232,236);
	--Ldgrey:rgb(140,156,164);
	--Ldwhite:rgb(100,100,100);
	--Lgreen:rgb(46,179,152);
	--Ldgreen:rgb(36,159,137);
}
body {
    color: #333;
    background: #f2f9fd;
}
.title {
    color: dimgray;
    text-align: center;
    font-family: Comic Sans MS;
    margin: 80px;
    margin-bottom: 0;
    margin-left: 130px;
    border-bottom: 1px solid black;
    width: 800px;
}
.header {
    color: black;
    font-family: Kai;
    font-size: 20px;
    padding-top: 5px;
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    border-top: 1px solid rgb(22,152,245);
    border-left: 1px solid rgb(22,152,245);
    border-right: 1px solid rgb(22,152,245);
    background: rgb(70,130,180);
    color: white;
}
.header a {
	color: white;
	display: block;
	width: 100px;
	height: 30px;
}
.header a:hover {
	color: black;
}
.nav {
    display: block;
    margin: 0;
    width: 110px;
}
.leftnav ul {
    list-style: none;
    padding: 0;
}
.leftnav li a {
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0.5px #006633;
    border-top: 1px solid rgb(22,152,245);
    border-left: 1px solid rgb(22,152,245);
    border-right: 1px solid rgb(22,152,245);
    margin: 0;
    padding: 5px;
    color: #006633;
}
.leftnav li {
    width: 100px;
    height: 30px;
    background: #f2f9fd;
}
.nav {
	border-bottom: 1px solid rgb(22,152,245);
	width: 100px;
}
.leftnav li a:active {
    color: #333;
}
.leftnav li:nth-child(odd) {
	background: white;
}
.leftnav {
    padding-top: 80px;
    width: 130px;
    height: 1200px;
    border-right: 1px solid black;
}
.leftnav .edit a {
    text-align: center;
    width: 40px;
    height: 20px;
    font-family: Comic Sans MS;
    font-size: 10px;
    text-decoration: none;
    border-right: 1px solid rgb(22,152,245);
    border-left: 1px solid rgb(22,152,245);
    border-bottom: 1px solid rgb(22,152,245);
    background: #00BFFF;
}
.leftnav .edit a:hover {
	color: white;
}
.leftnav .nav .chose {
	background: var(--Ldgrey);
}
.leftnav .nav .swap-chose {
	animation: heart 1s ease infinite;
}
@keyframes heart {
	0% {background: white;}
	100% {background: grey;}
}
.leftnav li, .leftnav .edit a, .leftnav .header {
	box-shadow: 2px 2px 2px rgb(22,152,245);
}



/*============== content ==============*/
.content {
	padding: 0;
    width: 800px;
    height: 1200px;
    position: relative;
    top: -1310px;
    left: 130px;
    border-right: 1px solid black;
}
.row {
    margin-top: 110px;
    margin-bottom: 50px;
}
.last {
    margin-left: 100px;
}
.next {
	float: right;
    margin-right: 100px;
}
.last, .next, .mod {
	border: 1px solid black;
	border-radius: 3px;
	background: white;
	font-size: 15px;
	position: relative;
	top: 10px;
	display: inline-block;
	width: 70px;
	text-align: center;
	box-shadow: 2px 1px 1px;
}
.mod {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
.next:hover, .last:hover, .mod:hover > a {
    background: #0099CC;
    color: white;
}
.next:hover > a, .last:hover > a {
	color: white;
}
.row a {
	display: block;
	width: 70px;
}

.new-tut {
	margin: 120px auto;
    padding-top: 0;
    text-align: center;
    width: 600px;
    height: 400px;
    background: white;
    border: 1px solid black;
}
.tut-con {
    font-family: Kai;
    width: 600px;
    height: 250px;
    padding-top: 40px;
}
.tut-con .con-title {
    display: inline-block;
    position: relative;
    top: -190px;
}
.tut-con textarea {
    resize: none;
    width: 400px;
    height: 200px;
    display: inline-block;
    background: #f2f9fd;
}
.tut-type {
    width: 600px;
    height: 80px;
    padding-top: 0;
    font-family: Kai;
}
.tut-type input {
    width: 400px;
    height: 30px;
    background: #f2f9fd;
    position: relative;
    left: 16px;
}
.my-btn {
    width: 600px;
    height: 50px;
}
.my-btn a {
    display: inline-block;
    text-decoration: none;
    font-family: Kai;
    width: 60px;
    height: 30px;
    padding-top: 2px;
    margin-right: 30px;
    font-size: 16px;
    color: black;
    border: 1px solid var(--Ldgrey);
    background: #f2f9fd;
}
.my-btn button {
    display: inline-block;
    font-family: Kai;
    font-size: 16px;
    width: 60px;
    height: 30px;
}
.my-btn button:hover {
    cursor: pointer;
    /*background: #f2f9fd;*/
    color: #0ae;
}
.my-btn a:hover {
    background: white;
}


/*========== Edit nav ==========*/
.edit-nav {
	margin: 100px auto;
	text-align: center;
}
.edit-control {
	border: 1px solid black;
	box-shadow: 2px 2px 2px;
	background: white;
	width: 400px;
	height: 300px;
	position: absolute;
	top: 200px;
	left: 450px;
}
.edit-control a {
	text-decoration: none;
	color: black;
	font-family: Comic Sans MS;
}
.edit-control .reset, .edit-control .return {
	margin: 50px auto;
	display: block;
	border: 1px solid black;
	width: 60px;
	height: 26px;
	text-align: center;
	padding-top: 3px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
	background: #f2f9fd;
}
.edit-control .reset:hover, .edit-control .return:hover {
	background: #0ae;
}
.edit-control .reset:hover > a, .edit-control .return:hover > a {
	color: white;
}
.edit-control a {
	display: block;
	width: 60px;
	height: 26px;
}
.edit-control .tips {
	font-family: Comic Sans MS;
	color: red;
	display: block;
	width: 320px;
	margin: 0 auto;
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
	background: #f2f9fd;
	text-align: center;
}
.edit-control {
	background-image: url(../../static/img/avatar.png);
}


