/*=========== type chose ===========*/
.type-list {
	margin:7em auto 1em;
	font-size:0.9em;
	text-align:center;
}
.type-btn {
	padding:0.5em;
	margin:1em;
	color:var(--Ldgrey);
	border-radius:0.3em;
	display:inline-block;
}
.type-btn:hover {
	background-color:var(--Llgrey);
}
.type-chose {
	background-color:var(--Lgreen);
	color:white;
}
.type-chose:hover {
	background-color:var(--Ldgreen);
	color:white;
}
.add-btn {
	background-color:var(--Lyellow);
	color:white;
	font-weight:700;
}
.add-btn:hover {
	background-color:var(--Ldyellow);
	color:white;
}
/*=========== 作品卡片 =============*/

.display {
	width:60em;
	margin:0 auto;
}
.display-card, .display-bar {
	background-color:white;
	border:rgb(231,233,235) 0.05em solid;
	width:15em;
	padding:0.9em;
	padding-right:1.9em;
	margin:0.8em 0.7em;
	display:inline-block;
	position:relative;
}
div.empty-bar {
	height:36em;
	background-color:transparent;
	border:none;
}
.empty-bar img {
	width:17.6em;
	margin:5em calc(50% - 8.8em) 1em;
}
.empty-text{
	text-align:center;
	font-size:2em;
	color:rgb(161,173,188);
}
.height-17 {
	height:17em;
	overflow:hidden;
}
a.card-over {
	position: absolute;
    top: 0;
    bottom: 30px;
    right: 0px;
    height: 100%;
    width: 100%;
	transition: border-color 1s ease;
    border:transparent 2px solid;
}
a.card-over:hover {
    border-color:var(--Lblue);
    opacity:0.5;
}
.display-img, .display-bar-img, .display-text{
	height:11em;
	width:13em;
	margin-bottom:0.8em;
}

/*============== 我的项目条==========*/

.display-bar {
	margin:0 auto 1.5em;
	width:60em;
	height:14em;
	overflow:hidden;
}
.display-bar-img {
	padding:0;
	margin:0;
	
	height:12em;
	width:14em;
	float:left;
}
.bar-main {
	float:left;
	margin-left:1em;
	width:43em;
	margin-right:-1em;
}
.type-tag {
	display:inline-block;
	color:white;
	background-color:var(--Lblue);
	padding:0.4em;
	font-size:0.5em;
	border-radius:0.3em;
	margin-top:-0.1em;
	margin-left:0.5em;
	vertical-align:middle;
}
.bar-text {
	color:black;
	margin-right:2em;
}
.ran-0 {background-color:var(--Lred)}
.ran-1 {background-color:var(--Llgreen)}
.ran-2 {background-color:var(--Lblue)}
.ran-3 {background-color:var(--Lyellow)}

h3 {
	margin-top:0;
	margin-bottom:0.5em;
}
.no-padding {
	padding:0;
}
.bar-info {
	margin-top:0;
}
.bar-content {
	margin-top:0.8em;
	height:5em;
	color:var(--Ldgrey);
}
.bar-avatar {
	padding:0;
	width:2em;
	height:2em;
	border-radius:50%;
	overflow:hidden;
	margin-top:-0.2em;
	margin-right:0.5em;
}
.author-info {
	float:left;
}
.contract-btn {
	background-color:var(--Lblue);
	border:none;
	border-radius:0.3em;
	color:white;
	font-size:0.9em;
	padding:0.4em 0;
	width:8em;
	margin-top:-0.2em;
	
	float:right;
}
.contract-btn:hover {
	background-color:var(--Ldblue);
}
.red-bg{
	background-color:var(--Lred);
}
.red-bg:hover {
	background-color:var(--Ldred);
}
.bar-price, .hollow-btn {
	float: right;
    border: var(--Lblue) 1px solid;
    border-radius: 0.3em;
    padding: 0.3em 1em;
    color: var(--Lblue);
    text-align: center;
    margin-left:1em;
}
.create-bar {
	height:auto;
}
/*=============== 项目承包请求 ===============*/
.some-margin {
	margin-left:1em;
}
.request-img {
	height:4em;
	width:4em;
	border-radius:50%;
	margin-top:-0.5em;
}
.request {
	font-size:1.2em;
}
.request-name, .request-time {
	margin-left:1em;
}
.request-time {
	color:var(--Ldgrey);
}
.yellow-bg {
	background-color:var(--Lyellow);
	margin-top:1em;
	height:2em;
	width:8em;
}
.yellow-bg:hover {
	background-color:var(--Ldyellow);
}
.cmt-line .hollow-btn {
	margin-top:0.5em;
	width:7.5em;
}
.hollow-btn:hover {
	background-color:rgba(0,0,0,0.03);
	color:var(--Ldblue);
}
.hollow-red {
	border-color:var(--Lred);
	color:red;
}
.hollow-red:hover {
	color:var(--Lred);
}
.hollow-grey {
	border-color:var(--Ldgrey);
	color:var(--Ldgrey);
}
.hollow-grey:hover {
	color:black;
}
/*=============== 项目创建 ===============*/
textarea {
	resize:none;
}
textarea.requirement {
	height:10em;
}
.more-padding {
	padding:2em;
	padding-bottom:1em;
}
/*=============== 作品 ==============*/
.bigger {
	width:83.5em;
}
.bigger-empty {
	margin:0 11.75em;
}
.more-margin-left {
	margin-left:5em;
}
.display-text {
	border:var(--Llgrey) 0.01em solid;
	color:white;
	padding:0.8em;
}
.card-avatar {
	width:2em;
	border-radius: 50%;
    margin-right: -0.3em;
    margin-top: -0.8em;
    margin-left: -0.3em;
    margin-bottom: -0.5em;
}
.card-name {
	margin-bottom:0.3em;
	color:var(--Lblue);
	font-size:1.05em;
}
.card-info {
	color:var(--Ldgrey);
	margin-bottom:0em;
	width:4.5em;
	display:inline-block;
}
.likes, .comments {
	color:var(--Ldgrey);
	margin-left:1em;
	font-size:0.85em;
	display:inline-block;
	width:3.5em;
	text-align:right;
}
.comments {
	margin-right:-1em;
}

.cmt-line {
	margin-left:15px;
	padding-top:2em;
	padding-bottom:1em;
	border-top:var(--Lgrey) 1px solid;
}
.cmt-name {
	font-weight:700;
	font-size:1.1em;
}
.cmt-time {
	font-size:0.9em;
	color:var(--Ldgrey);
	margin-left:1em;
	font-weight:100;
}
h3.input-title {
	font-size:1.3em;
	margin:1em;
	margin-left:-15px;
}
.blue-btn {
	padding-left:1em;
	padding-right:1em;
	background-color:var(--Lblue);
	border:none;
	border-radius:0.2em;
	color:white;
	text-align:center;
}
.blue-btn:hover {
	color:white;
	background-color:var(--Ldblue);
}
.float-right {
	float:right;
}
img.size-15 {
	height: 1.1em;
    width: 1.1em;
    display: inline-block;
    text-align: center;
    margin-top: -0.2em;
}
/*=============== 教程 ==============*/
.sheet-content p {
	padding-bottom:1em;
}
div.margin-top {
	margin:7em auto 0;
}
.display-sheet {
	width:70em;
	background-color:white;
	border:rgb(231,233,235) 0.05em solid;
	margin:2em auto;
}
.cute-list {
	margin:0 auto;
	font-size:1.1em;
	text-align:center;
}
.cute-btn {
	color:var(--Ldgrey);
	padding:1.5em 2em;
	margin-left:-0.3em;
	margin-bottom:-0.1em;
}
.cute-btn-chose{
	color:black;
	border-bottom:var(--Lred) 0.1em solid;
	font-weight:700;
}
.cute-btn:hover {
	color:black;
	background-color:rgb(250,251,252);
}
.sheet-content {
	margin:0 7em 2em;
}
.display-sheet h1 {
	color:var(--Lgreen);
	font-size:3em;
	margin:1.5em 0 0.6em;
}

.content-info {
	border:var(--Lblue) 0.2em solid;
	margin-bottom:2em;
}
.info-left {
	font-size:1.1em;
	padding:1em;
	background-color:var(--Lblue);
	color:white;
	text-align:center;
}
.info-right {
	font-size:1.1em;
	padding:1em 3em;
	color:var(--Lblue);
	font-weight:700;
}
.content-text {
	line-height: 2;
	color: #58606a;
}
.sheet-content h3 {
	color:#0070C0;
	font-size:1.1em;
	margin:2em 0;
	font-weight:700;
}
.content-text img {
	width:58em;
	margin:1em 0;
}
div.margin-bottom {
	margin-bottom:6em;
}
a.bottom {
	float:right;
	margin-left:2em;
}
.edit-link {
	float:right;
	font-size:0.4em;
	margin-top:1em;
	margin-left:2em;
}
textarea.my-textarea {
	height:25em;
	width:58em;
	margin-bottom:5em;
	margin-left:-15px;
	margin-right:-15px;
}
input.my-input {
	width:58em;
	margin-left:-15px;
	margin-right:-15px;
}
.edit-btn {
	float:right;
	margin-left:2em;
	font-size:0.35em;
	margin-top:1em;
	
	display:inline-block;
	background-color:var(--Lblue);
	color:white;
	padding:0.5em 1em;
	border-radius:0.2em;
	border:none;
}
.edit-btn:hover {
	background-color:var(--Ldblue);
	color:white;
}
.post-type {
	font-size:1.1em;
	padding:1em;
	color:var(--Lblue);
	font-weight:700;
	text-align:center;
}
.post-type-chose {
	background-color:var(--Lblue);
	color:white;
}
.post-type:hover {
	color:var(--Lblue);
	background-color:var(--Llgrey);
}
.post-type-chose:hover {
	color:white;
	background-color:var(--Ldblue);
}
h1.special {
	color:var(--Lblue);
}
.type-list.special {
	margin-top:-6em;
	margin-left:30em;
}
.post-line {
	font-size:1.1em;
	padding:1.5em 0;
	border-top:var(--Llgrey) 1px solid;
	border-bottom:var(--Llgrey) 1px solid;
	position:relative;
}
.post-line:hover {
	background-color:rgb(248,249,250);
}
.poster-info {
	font-size:0.9em;
	left:3em;
	color:var(--Ldgrey);
}
.tag {
	display:inline-block;
	color:white;
	padding:0.4em 0.6em;
	font-size:0.6em;
	border-radius:0.3em;
	margin-top:-0.1em;
	margin-right:1em;
	vertical-align:middle;
}
img.avatar.col-sm-1 {
	padding:0;
	width:4em;
	height:4em;
	border-radius:50%;
	overflow:hidden;
	margin-top:-0.2em;
}
.cmt-tag {
	color:white;
	background-color:var(--Lgreen);
	font-size:0.8em;
	padding:0.3em 0.7em;
	font-weight:100;
	border-radius:0.2em;
	margin-left:0.5em;
}
.floor-cmt {
	margin-top:1em;
	background-color:rgb(247,248,250);
	margin-left:4.5em;
	padding-right:45px;
	padding-left:30px;
	font-size:0.85em;
}
.floor-cmt .cmt-line {
	border:none;
	padding-left:0;
}
.a-text {
	margin:0 1em;
	float:right;
	font-weight:100;
}
.post-special{
	padding-left:1em;
	padding-right:1em;
}
.cmt-btn {
	cursor:pointer;
}
/*======== Homepage ==========*/
.home-main {
	margin-top:5em;
}
.bg-container {
	overflow:hidden;
	height:25em;
	width:100%;
	margin:0 auto;
}
.home-bg {
	width:110em;    
	position: relative;
    left: calc(50% - 54.5em);
}
.display-container {
	width:75em;
	margin:1em auto;
}
.display-type {
	font-size:1.2em;
	font-weight:700;
	margin:1em 0;
}

.display-item {
	background-color:white;
	border:var(--Lgrey) 1px solid;
	display:inline-block;
	height:23em;
	width:17em;
	padding:0.5em;
	position:relative;
	margin-right:1.5em;
	margin-bottom:1.5em;
	overflow:hidden;
}
.item-empty {
	width:12em;
	margin:2em 2em 1em;
}
.item-img {
	width:16em;
	height:11.5em;
	margin-bottom:2em;
}
.user-avatar {
	position:absolute;
	top:10em;
	left:6.5em;
	height:4em;
	width:4em;
	border-radius:50%;
	border:white 0.2em solid;
}
.item-title {
	margin-top:0.5em;
	text-align:center;
	font-weight:700;
	letter-spacing:1px;
}
.grey {
	color:var(--Ldgrey);
	font-size:0.9em;
}
.item-user {
	text-align:center;
	color:var(--Lblue);
}
.item-intro {
	padding:1em;
	font-size:0.9em;
	color:var(--Ldgrey);
}
.display-ad {
	position:relative;
	width:73.4em;
}
.display-ad img {
	width:73.4em;
	height:12em;
	border:var(--Lgrey) 1px solid;
	padding:0.5em;
	background-color:white;
}
.display-container .tail {
	text-align:center;
	margin-top:2em;
	margin-bottom:2em;
	color:var(--Ldgrey);
}
/*============= user info ===============*/
.user-img img {
    border: 4px solid white;
    margin-top: 100px;
    margin-left: 450px;
}
.user-img {
    background: url(../img/banner.jpg);
    background-size: 2560px 344px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    height: 300px;
}
.user-img p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
}
.icon-male {
	color: #0ae;
}
.icon-female {
	color: #e33;
}
.info-panel {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 3em;
}
.info-item {
    text-align: left;
    padding-left: 200px;
    margin-top: 30px;
}
.info-item .info-key {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    display: inline-block;
    width: 100px;
    text-align: right;
    float: left;
}
.info-item .info-value {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    width: 300px;
    height: auto;
}
.line-group hr {
    display: inline-block;
    width: 294px;
} 
.line-group .line-icon {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 18px;
    margin-right: 40px;
    margin-left: 40px;
}

/*======== 编辑个人信息 ========*/
.form-group, .form-button {
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}
.form-group .label {
    display: inline-block;
    margin-right: 30px;
    width: 40px;
    font-size: 18px;
    float: left;
}
.form-group .field {
    display: inline-block;
    width: 300px;
}
.form-group .icon-pencil {
	color: #87CEFA;
}
.form-group .icon-pencil:hover {
	cursor: pointer;
	color: #0ae;
}
#edit-pwd {
	padding-top: 6px;
	padding-left: 20px;
}

/*======== 私信 ========*/
.chat-entry {
    display: block;
    height: 80px;
    width: 800px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #999;
}
.chat-entry .chatter-img {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
.chat-entry .chat-label {
    display: inline-block;
    position: relative;
    top: -30px;
    padding-left: 10px;
}
.chat-label .chatter-name {
    color: #0ae;
    font-size: 16px;
}
.chat-label .chat-time {
    padding-left: 10px;
    color: gray;
    font-size: 10px;
}
.chat-label a:hover {
	text-decoration: underline;
}
.chat-entry .chat-content {
    font-weight: 200;
    position: relative;
    bottom: 20px;
    left: 70px;
}
.chat-entry .chat-option {
    display: inline-block;
    position: relative;
    left: 200px;
}
.chat-option .option-btn {
    margin-right: 10px;
    font-weight: 200;
    position: relative;
    bottom: 35px;
    left: 450px;
}

/*======== 聊天栏 ========*/
.chat-panel {
	margin: 70px auto;
	display: block;
	width: 1000px;
	height: auto;
	border: rgb(231,233,235) 0.05em solid;
}
.input-field {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
.input-field textarea {
    resize: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 6px;
    border: 1px solid #0ae;
    background-color: #f2f9fd;
    height: 100px;
    width: 700px;
    margin: 30px auto;
}
.input-field button {
	position: relative;
	left: 300px;
}
.chat-panel .divide-line {
	color: rgb(231,233,235);
	width: 800px;
	margin: 0 auto;
}
.message-panel {
	width: 800px;
	margin: 40px auto;
}
.left-frame .left-img {
    position: relative;
    top: 20px;
}
.left-frame .chat-time {
    font-size: 13px;
    font-weight: 300;
    margin-left: 85px
}
.left-frame .frame {
    width: 250px;
    height: auto;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-top: -30px;
    margin-left: 69px;
}
.left-frame .chat-arrow {
    width: 30px;
    height: 10px;
    border-top: 5px solid transparent;
    border-right: 15px solid #999;
    border-bottom: 5px solid #999;
    border-left: 15px solid transparent;
}
.left-frame .sup-arrow {
    width: 24px;
    height: 8px;
    border-top: 4px solid transparent;
    border-right: 12px solid white;
    border-bottom: 4px solid white;
    border-left: 12px solid transparent;
    position: relative;
    top:-9px;
    left: 6px;
}
.left-frame .left-group {
    overflow: visible;
    margin-left: 40px;
}
.left-frame a {
    font-size: 13px;
    font-weight: 300;
    position: relative;
    top: 0;
    left: 90px;
}
.right-frame .frame {
    width: 250px;
    height: auto;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-top: -30px;
    margin-left: 511px;
}
.right-frame .right-img {
    margin-left: 800px;
    position: relative;
    top: 20px;
}
.right-frame .chat-arrow {
    width: 30px;
    height: 10px;
    border-top: 5px solid transparent;
    border-left: 15px solid #999;
    border-bottom: 5px solid #999;
    border-right: 15px solid transparent;
}
.right-frame .sup-arrow {
    width: 24px;
    height: 8px;
    border-top: 4px solid transparent;
    border-left: 12px solid white;
    border-bottom: 4px solid white;
    border-right: 12px solid transparent;
    position: relative;
    top: -9px;
}
.right-frame .right-group {
    margin-left: 760px;
}
.right-frame .chat-time {
    font-size: 13px;
    font-weight: 300;
    margin-left: 527px
}
.right-frame a {
    font-size: 13px;
    font-weight: 300;
    position: relative;
    top: 0;
    left: 90px;
}
/*=========new user info============*/
.sheet-special {
	height:auto;	
}
.little-margin-top{
	margin-top:1.5em;
}
.user-bg {
	height:30em;
	position: relative;
    left: calc(50% - 55em);
}
.user-info {
	background-color:white;
	border-bottom:var(--Lgrey) 1px solid;
}
.user-info .info {
    text-align: center;
    bottom: 4em;
    position: relative;
}
.info-avatar{
	border-radius:50%;
	border:white 0.3em solid;
	margin:0 auto;
	height:10em;
	width:10em;
	position:relative;
	bottom:5em;
	display:block;
}
.username {
	font-size:2em;
	font-weight:700;
}
.grey-info {
	margin-top:0.2em;
	color:var(--Ldgrey);
	font-size:0.9em;
}
.info .hollow-btn {
	font-size: 1.1em;
    float: none;
    width: 8em;
    margin-right: 1em;
    margin-top: 1.5em;
    padding:0.5em;
}
.bg-container.special {
	height:24em;
}
.info-nav {
	margin-top:-2em;
	text-align:center;
}
.info-nav .nav-btn {
	margin-top:-1em;
	margin-left:1em;
	margin-right:1em;
}
.info-table th {
	padding-right:3em;
	text-align:right;
	font-weight:normal;
	color:#bbbbbb;
	line-height: 3;
}
.display-info {
	width:70em;
	margin:3em auto;
	background-color:white;
	border: var(--Lgrey) 1px solid;
	padding:3em 7em;
}
.display-info .hollow-btn {
	font-size: 1.1em;
    float: none;
    width: 8em;
    margin-left:21.5em;
    padding:0.5em;
    
}
.chatlog.display-sheet {
	margin-top:2em;
}
.chatlog .sheet-content {
	margin:0 3em;
	padding-bottom:1em;
}
.chatlog .cmt-line {
	border-top:none;
	border-bottom: var(--Lgrey) 1px solid;
}