/*=========== type chose ===========*/
.type-list {
	margin:7em auto 1em;
	font-size:0.9em;
	text-align:center;
}
.type-btn {
	padding:0.5em;
	margin:1em;
	color:var(--Ldgrey);
	border-radius:0.3em;
	display:inline-block;
}
.type-btn:hover {
	background-color:var(--Llgrey);
}
.type-chose {
	background-color:var(--Lgreen);
	color:white;
}
.type-chose:hover {
	background-color:var(--Ldgreen);
	color:white;
}
.add-btn {
	background-color:var(--Lyellow);
	color:white;
	font-weight:700;
}
.add-btn:hover {
	background-color:var(--Ldyellow);
	color:white;
}
/*=========== 作品卡片 =============*/

.display {
	width:60em;
	margin:0 auto;
}
.display-card, .display-bar {
	background-color:white;
	border:rgb(231,233,235) 0.05em solid;
	width:15em;
	padding:0.9em;
	padding-right:1.9em;
	margin:0.8em 0.7em;
	display:inline-block;
	position:relative;
}
.display-card:hover {
}
a.card-over {
	position: absolute;
    top: 0;
    bottom: 30px;
    right: 1px;
    height: 100%;
    width: 100%;
}
a.card-over:hover {
    background-color: black;
    opacity: 0.03;
}
.display-img, .display-bar-img, .display-text{
	height:11em;
	width:13em;
	margin-bottom:0.8em;
}

/*============== 我的项目条==========*/

.display-bar {
	margin:0 auto 1.5em;
	width:60em;
}
.display-bar-img {
	padding:0;
	margin:0;
	
	height:12em;
	width:14em;
}
.type-tag {
	display:inline-block;
	color:white;
	background-color:var(--Lblue);
	padding:0.4em;
	font-size:0.5em;
	border-radius:0.3em;
	margin-top:-0.1em;
	margin-left:1em;
	margin-right:1em;
	vertical-align:middle;
}
.bar-text {
	color:black;
}
.bar-text:hover {
	color:var(--Ldwhite);
}
.ran-0 {background-color:var(--Lred)}
.ran-1 {background-color:var(--Llgreen)}
.ran-2 {background-color:var(--Lblue)}
h3 {
	margin-top:0;
}
.no-padding {
	padding:0;
}
.bar-info, .bar-content {
	margin-left:1em;
	font-size:1.05em;
}
.bar-info {
	margin-top:0;
}
.bar-content {
	margin-top:0.6em;
	height:5.5em;	
}
.bar-avatar {
	padding:0;
	width:2em;
	height:2em;
	border-radius:50%;
	overflow:hidden;
	margin-top:-0.2em;
}
.author {
	padding:0;
}
.contract-btn {
	background-color:var(--Lblue);
	border:none;
	border-radius:0.3em;
	color:white;
	font-size:0.9em;
	padding:0.4em 0;
	margin-top:-0.2em;
}
.contract-btn:hover {
	background-color:var(--Ldblue);
}
.red-bg{
	background-color:var(--Lred);
}
.red-bg:hover {
	background-color:var(--Ldred);
}
/*=============== 项目承包请求 ===============*/
.some-margin {
	margin-left:1em;
}
.request-img {
	height:4em;
	width:4em;
	border-radius:50%;
	margin-top:-0.5em;
}
.request {
	font-size:1.2em;
}
.request-name, .request-time {
	margin-left:1em;
}
.request-time {
	color:var(--Ldgrey);
}
.yellow-bg {
	background-color:var(--Lyellow);
	margin-top:1em;
	height:2em;
	width:8em;
}
.yellow-bg:hover {
	background-color:var(--Ldyellow);
}
/*=============== 项目创建 ===============*/
textarea {
	resize:none;
}
textarea.requirement {
	height:10em;
}
.more-padding {
	padding:2em;
	padding-bottom:1em;
}
/*=============== 作品 ==============*/
.bigger {
	width:83.5em;
}
.more-margin-left {
	margin-left:5em;
}
.display-text {
	border:var(--Llgrey) 0.01em solid;
	color:white;
	padding:0.8em;
}
.card-avatar {
	width:2em;
	border-radius: 50%;
    margin-right: -0.3em;
    margin-top: -0.8em;
    margin-left: -0.3em;
    margin-bottom: -0.5em;
}
.card-name {
	margin-bottom:0.3em;
	color:var(--Lblue);
	font-size:1.05em;
}
.card-info {
	color:var(--Ldgrey);
	margin-bottom:0em;
}

.cmt-line {
	margin-left:0em;
	padding-top:2em;
	padding-bottom:1em;
	border-top:var(--Lgrey) 1px solid;
}
.cmt-name {
	font-weight:700;
	font-size:1.1em;
}
.cmt-time {
	font-size:0.9em;
	color:var(--Ldgrey);
	margin-left:1em;
	font-weight:100;
}
h3.input-title {
	font-size:1.3em;
	margin:1em;
	margin-left:-15px;
}
.blue-btn {
	padding-left:1em;
	padding-right:1em;
	background-color:var(--Lblue);
	border:none;
	border-radius:0.2em;
	color:white;
}
.blue-btn:hover {
	color:white;
	background-color:var(--Ldblue);
}
.float-right {
	float:right;
}
img.size-15 {
	height: 1.5em;
    width: 1.5em;
    display: inline-block;
    text-align: center;
    margin-top: -0.2em;
}
/*=============== 教程 ==============*/
div.margin-top {
	margin:7em auto 0;
}
.display-sheet {
	width:70em;
	background-color:white;
	border:rgb(231,233,235) 0.05em solid;
	margin:2em auto;
}
.cute-list {
	margin:0 auto;
	font-size:1.1em;
	text-align:center;
}
.cute-btn {
	color:var(--Ldgrey);
	padding:1.5em 2em;
	margin-left:-0.3em;
	margin-bottom:-0.1em;
}
.cute-btn-chose{
	color:black;
	border-bottom:var(--Lred) 0.1em solid;
	font-weight:700;
}
.cute-btn:hover {
	color:black;
	background-color:rgb(250,251,252);
}
.sheet-content {
	margin:0 7em 2em;
}
.display-sheet h1 {
	color:var(--Lgreen);
	font-size:3em;
	margin:1.5em 0 0.6em;
}

.content-info {
	border:var(--Lblue) 0.2em solid;
	margin-bottom:2em;
}
.info-left {
	font-size:1.1em;
	padding:1em;
	background-color:var(--Lblue);
	color:white;
	text-align:center;
}
.info-right {
	font-size:1.1em;
	padding:1em 3em;
	color:var(--Lblue);
	font-weight:700;
}
.content-text {
	line-height: 2;
	color: #58606a;
}
.sheet-content h3 {
	color:#0070C0;
	font-size:1.1em;
	margin:2em 0;
	font-weight:700;
}
.content-text img {
	width:58em;
	margin:1em 0;
}
div.margin-bottom {
	margin-bottom:6em;
}
.content-text a {
	float:right;
	margin-left:2em;
}
.edit-link {
	float:right;
	font-size:0.4em;
	margin-top:1em;
	margin-left:2em;
}
textarea.my-textarea {
	height:25em;
	width:58em;
	margin-bottom:5em;
	margin-left:-15px;
	margin-right:-15px;
}
input.my-input {
	width:58em;
	margin-left:-15px;
	margin-right:-15px;
}
.edit-btn {
	float:right;
	margin-left:2em;
	font-size:0.35em;
	margin-top:1em;
	
	display:inline-block;
	background-color:var(--Lblue);
	color:white;
	padding:0.5em 1em;
	border-radius:0.2em;
	border:none;
}
.edit-btn:hover {
	background-color:var(--Ldblue);
	color:white;
}
.post-type {
	font-size:1.1em;
	padding:1em;
	color:var(--Lblue);
	font-weight:700;
	text-align:center;
}
.post-type-chose {
	background-color:var(--Lblue);
	color:white;
}
.post-type:hover {
	color:var(--Lblue);
	background-color:var(--Llgrey);
}
.post-type-chose:hover {
	color:white;
	background-color:var(--Ldblue);
}
h1.special {
	color:var(--Lblue);
}
.type-list.special {
	margin-top:-6em;
	margin-left:46em;
}
.post-line {
	font-size:1.1em;
	padding:1.5em 0;
	border-top:var(--Llgrey) 1px solid;
	border-bottom:var(--Llgrey) 1px solid;
}
.post-line:hover {
	background-color:rgb(248,249,250);
}
.poster-info {
	font-size:0.9em;
	left:3em;
	color:var(--Ldgrey);
}
.tag {
	display:inline-block;
	color:white;
	padding:0.4em 0.6em;
	font-size:0.6em;
	border-radius:0.3em;
	margin-top:-0.1em;
	margin-right:1em;
	vertical-align:middle;
}
img.avatar.col-sm-1 {
	padding:0;
	width:4em;
	height:4em;
	border-radius:50%;
	overflow:hidden;
	margin-top:-0.2em;
}