/* navigation */
:root {
	--Lblue:rgb(22,152,245);
	--Lbg:rgb(245,246,247);
	--Llgrey:rgb(240,242,244);
	--Lgrey:rgb(228,232,236);
	--Ldgrey:rgb(140,156,164);
	--Lgreen:rgb(46,179,152);
	--Ldgreen:rgb(36,159,137);
}
body {
	background-color:var(--Lbg);
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
li {
	float:left;
}
a {
	display:inline-block;
}
a:hover {
	text-decoration:none;
}
a:focus {
	text-decoration:none;
	color:black;
}
.white-nav {
	border-bottom:var(--Lgrey) 1px solid;
	height:5em;
	padding:0 1.7em;
	background-color:white;
}
.nav-btn {
	color:black;
	margin:0 0.3em;
	color:grey;
	padding:1.7em 2em;
	text-align:center;
}
.logo-btn {
	margin-right:5em;
	padding:1.7em 2.2em;
	padding-bottom:0.2em;
}
.search {
	float:left;
	width:23em;
	position:relative;
	bottom:0.5em;
	margin:1.7em 5em;
}
.user-btn {
	float:right;
	color:black;
	padding-right:1em;
	padding-left:1em;
}
.glyphicon.myicon {
	margin-left:0.5em;
	top:0.2em;
}
.avatar {
	padding:0;
	width:3em;
	height:3em;
	border-radius:50%;
	overflow:hidden;
	display:table;
	margin-top:0.9em;	
}
.nav-btn:hover, .logo-btn:hover {
	background-color:rgb(250,251,252);
	color:black;
}
.nav-btn-chose {
	border-bottom:var(--Lblue) 0.2em solid;
	color:black;
	font-weight:bold;
}
.nav-logo {
	height:3em;
	position:relative;
	bottom:0.7em;
}