/* navigation */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:root {
	--Lblue:rgb(22,152,245);
	--Llblue:rgb(225,233,241);
	--Lred:rgb(242,99,75);
	--Ldred:rgb(212,89,65);
	--Llgreen:rgb(146,206,70);
	--Lyellow:rgb(251,175,24);
	--Ldyellow:rgb(231,165,20);
	
	--Ldblue:rgb(10,133,224);
	--Lbg:rgb(245,246,247);
	--Llgrey:rgb(240,242,244);
	--Lgrey:rgb(228,232,236);
	--Ldgrey:rgb(140,156,164);
	--Ldwhite:rgb(100,100,100);
	--Lgreen:rgb(46,179,152);
	--Ldgreen:rgb(36,159,137);
}
body {
	background-color:var(--Lbg);
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
li {
	float:left;
}
a {
	display:inline-block;
}
a:hover {
	text-decoration:none;
}
a:focus {
	text-decoration:none;
	color:black;
}
#nav {
	transition: border 0.5s linear;
	width:110em;
}
.white-nav {
	border-bottom:var(--Lgrey) 1px solid;
	height:5.1em;
	padding:0 1.7em;
	background-color:white;
	overflow:hidden;
}
.toggle-nav {
	border-bottom:white 1px solid;
	height:5em;
	padding:0 1.7em;
	background-color:white;
	overflow:hidden;
}
.nav-btn {
	color:black;
	margin:0 0.3em -0.1em;
	color:grey;
	padding:1.7em 2em;
	text-align:center;
	transition: all 0.5s ease;
	border-bottom:transparent 0.2em solid;
}
.logo-btn {
	margin-right:5em;
	padding:1.7em 2.2em;
	padding-bottom:0.2em;
	transition: all 0.5s ease;
}
.search {
	float:left;
	width:23em;
	position:relative;
	bottom:0.5em;
	margin:1.7em 5em;
}
.user-btn {
	float:right;
	color:black;
	padding-right:2em;
	padding-left:2em;
	margin-right:1em;
}
.glyphicon.myicon {
	margin-left:0.5em;
	top:0.2em;
}
.avatar {
	padding:0;
	width:3em;
	height:3em;
	border-radius:50%;
	overflow:hidden;
	display:table;
	margin-top:0.9em;
}
.nav-btn:hover, .logo-btn:hover {
	background-color:rgb(248,249,250);
	color:black;
}
.nav-btn-chose {
	color:black;
	font-weight:700;
	transition:border-color 0.5s linear;
	border-color:var(--Lblue);
}
.nav-logo {
	height:3em;
	position:relative;
	bottom:0.7em;
}