<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="userService" class="com.linkode.service.impl.UserServiceImpl"/>
    <bean id="adService" class="com.linkode.service.impl.AdServiceImpl"/>
    <bean id="chatLogService" class="com.linkode.service.impl.ChatLogServiceImpl"/>
    
    <bean id="postService" class="com.linkode.service.impl.PostServiceImpl"/>
    <bean id="postCmtService" class="com.linkode.service.impl.PostCmtServiceImpl"/>
    
    <bean id="tutorialService" class="com.linkode.service.impl.TutorialServiceImpl"/>
    
    <bean id="portfolioService" class="com.linkode.service.impl.PortfolioServiceImpl"/>
    <bean id="portfolioCmtService" class="com.linkode.service.impl.PortfolioCmtServiceImpl"/>
    <bean id="portfolioLikeService" class="com.linkode.service.impl.PortfolioLikeServiceImpl"/>
    
    <bean id="projectService" class="com.linkode.service.impl.ProjectServiceImpl"/>
    <bean id="projectAppService" class="com.linkode.service.impl.ProjectAppServiceImpl"/>
    <bean id="projectCommitService" class="com.linkode.service.impl.ProjectCommitServiceImpl"/>

</beans>